#main-header {
    display: flex;
    align-items: center;
    top: 0 !important;
    padding-top: 0 !important;

    #et-top-navigation {
        text-align: left;
        
        nav#top-menu-nav {
            ul.nav {
                li {
                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }
                    &.current-page-ancestor,
                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            opacity: 1;
                            // color: red;
                        }
                    }
                    &.menu-item-has-children {
                        @media all and (min-width: $screen-md-min) {
                            a {
                                &:first-child {
                                    padding-right: 0;
                                }
                                &::after {
                                    content: '';
                                    display: none;
                                }
                            }
                            .sub-menu {
                                display: none;
                            }
                        }
                    }
                    a {
                        opacity: 1;
                    }
                }
            }
        } //mobile nav
        // #et_mobile_nav_menu {
        //     //.mobile_menu_bar::before{
        //     //    color: #fff;
        //     //    font-size: 40px;
        //     //}
        // }
    }
    #logo {
        transform: inherit;
    }
}